body {
    background-color: rgb(243, 235, 235);
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
}

.welcom-text {
    text-align: center;
    font-size: 1rem;
}

.welcome-area {
    text-align: center;
    font-size: 1rem;
    width: 70%;
    height: 8vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.quiz-box {
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    height: 40vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
    background-color: aliceblue;
    
}

.score-area {
    font-size: 1rem;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    height: 15vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
    background-color: rgb(166, 192, 225);
    

}
.feed-back {
    font-size: 1rem;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    height: 15vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
    background-color: rgb(166, 192, 225); 
}


    

